<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <!--
  TODO 3b (done)
  add meta viewport tag
  -->
  <meta name=viewport content="width=device-width, initial-scale=1">


  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>

  <!--
    TODO 2a (done)
    add link to Bootstrap CDN
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css" />

  <title>FlickList</title>
</head>
<body>
  <div id="mount-target">
    <!--
      TODO 2b (done)
      give the header a class of "jumbotron"
      give the inner paragraph a class of "text-muted"
    -->
    <header class="jumbotron">
      <h1>FlickList</h1>
      <p class="text-muted">Keep a list of all the movies you've been meaning to watch.</p>
    </header>

    <div class="container-fluid main-content">
      <!--
      TODO 3a (done)
      put the rest of the content (both sections) inside a div with class "row",
      and then add the class "container-fluid" to this div (declared above).
      Then, give each section a class of "col-?-?" (fill in the question marks).
      The watchlist and browse list should appear side by side,
      where the watchlist takes up 5/12 of the width of the screen,
      and the browse list takes 7/12 of the width of the screen,
      unless the user is on a tablet or mobile phone, in which case, each section should
      fill the entire width, with the watchlist first and the browse list below.
      -->
      <div class="row">

        <section class="col-md-5" id="section-watchlist">
          <header>
            <h2>My Watchlist</h2>
            <hr/>
          </header>

          <!--
            TODO 2f (done)
            Give this list a class of "list-inline"
          -->
          <ul class="list-inline">
            <li
              v-for="movie in watchlistItems"
              class="panel panel-default"
            >
              <!--
                TODO 2g
                re-implement the li as a bootstrap panel with a heading and a body
              -->
              <div class="panel-heading">
                <h6>{{ movie.title }}</h6>
              </div>
              <div class="panel-body">
                <img class="img-responsive" :src="posterUrl(movie)" />
                <!--
                  TODO 1 (done)
                  add an "I watched it" button here
                  Clicking should remove this movie from the watchlist.
                -->
                <button @click="removeFromWatchlist(movie)">
                  I watched it
                </button>
                <!--
                  TODO 2i
                  apply the classes "btn btn-danger" to the "I watched it button"
                -->
              </div>
            </li>
          </ul>
        </section>

        <section class="col-md-7" id="section-browse">
          <header>
            <h2>Browse Movies</h2>

            <!--
            TODO 2e (done)
            Style this form and its inputs to look like the demo.
            Use the following classes (google them and find some examples):
            "input-group", "form-control", "input-group-btn", "btn", "btn-primary"
            -->
            <form id="form-search">
              <div class="input-group">
                <input type="text" class="form-control" v-model="searchTerm" />
                <span class="input-group-btn">
                  <input
                    type="submit" value="Search By Title"
                    class="btn btn-primary"
                    @click="searchMovies(searchTerm)"
                  />
                </span>
              </div>
          </form>
          </header>

          <!--
            TODO 2d (done)
            Style this list to look like the demo.
            Use the following classes:
            "list-group", "list-group-item", "btn", "btn-primary"
          -->
          <ul class="list-group">
            <li v-for="movie in browseItems" class="list-group-item">
              <hr />

              <h4>{{ movie.title }}</h4>
              <button
                class="btn btn-primary"
                @click="addToWatchlist(movie)"
                :disabled="watchlistItems.includes(movie)"
              >
                Add to Watchlist
              </button>

              <p>{{ movie.overview }}</p>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <script src="js/flicklist.js"></script>

</body>
</html>
